
#alphabetical-posts .letters li {
        display: inline-block;
        margin: 0;
    }
    #alphabetical-posts .letters a {
        text-decoration: none;
        font-size: 16px;
        background: #ffffff;
        height: 2em;
        display: inline-block;
        width: 2em;
        line-height: 2em;
        color: #2196F3;
        margin: 0;
    }
    #alphabetical-posts .letters {
        text-align: center;
        display: inline-flex;
    }
    #alphabetical-posts .letters-wrap {
        text-align: center;
    }
    #alphabetical-posts .letters a:hover {
        background: #2196F3;
        color: #fff;
    }
    #alphabetical-posts .posts {
        margin-top: 4em;
        margin: 0 auto;
    }
    #alphabetical-posts .posts .item {
        margin-bottom: 4em;
    }
    #alphabetical-posts .posts .item a {
        text-decoration: none;
        font-size: 14px;
    }
    #alphabetical-posts .posts .list > div {
        background: #fff;
        padding: 15px 15px;
        border-bottom: 1px solid #f2f2f2;
    }
    #alphabetical-posts .list h3 {
        margin: 0;
    }
    #alphabetical-posts .list .content {
        margin-top: 5px;
    }

    .medclient-search {
  color: #999;
  position: relative;
  padding: 0 0 20px;
  border-bottom: 1px solid #CECECE;
  margin: 0 0 20px;
}

